---
title: Funmi Adewodu
---

<header class="main-header">

  <div class="header-title">
    <a href="" class="header-title-link"> Funmi Adewodu</a>
  </div>

  <nav>
    <ul class="nav-list">
      <li><a href="#about" class="nav-list-link"> About</a></li>
      <li><a href="#talks" class="nav-list-link"> Talks</a></li>
      <li><a href="#contact" class="nav-list-link"> Contact</a></li>
    </ul>
  <nav>
</header>

            <!-- About -->
  <div class="about-wrapper" id="about">

    <div class="image-wrapper">
      <img class="img-circle" src="https://avatars2.githubusercontent.com/u/22508999?v=3&s=460">
    </div>

    <h2 class="about-header">Hi, I'm Funmi Adewodu</h2>


    <p>   </p>

  </div>

          <!-- Talks  -->





          <!-- Contact  -->
<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
